@media (min-width:1170px)   {
    .logo {
    width: 55%;
    flex-wrap: wrap;

}
    
}


/*===============*/


@media (max-width:1170px)   {
    .logo {
    width: 50%;
    flex-wrap: wrap;
    

}
.topLeft {
    width: 40%;
    


}

hr {
    
    width: 85%;
}

    
}



/*===============*/
@media (max-width:890px) {
    .topLeft h2 {
    word-spacing: 5px;
    
}

.topLeft h1 {
    font-weight: 900;
    font-size: 40px;
}

.topLeft h4 {
    word-spacing: 3px;
    font-size: 16px;
    
}

.head {
    
    
    justify-content: flex-start;
    
}

.topLeft {
    width: 40%;
    margin: auto;


}

}



/*===============*/
@media (max-width:860px) {

    .head{
        flex-direction: column;
    }
    .logo {
        width: 100%;
        
   
    

}

.topLeft {
    
    margin-top: 15px;
    width: 100%;
    text-align: center;
    


}
.secSECTION{
    margin-top: 12rem;
}

hr{
    width: 40%;
    margin: auto;
}




}



/*===============*/
@media (max-width:690px) {

      .topLeft h2 {
    word-spacing: 4px;
    
}

.topLeft h1 {
    font-weight: 900;
    font-size: 36px;
}

.topLeft h4 {
    word-spacing: 3px;
    font-size: 14px;
    
}



}





/*===============*/
@media (max-width:375px){

    .topLeft {
    
    margin-top: 15px;
    width: 100%;
    text-align: center;
    


}

     .topLeft h2 {
    word-spacing: 0px;
   font-size: 18px;
    
}

.topLeft h1 {
    font-weight: 800;
    font-size: 30px;
}

.topLeft h4 {
    word-spacing: 3px;
    font-size: 12px;
    
}

hr{
    width: 60vw;
}

.secSECTION{
    margin-top: 8rem;
}


}