/* second section*/


.secSECTION{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 80px;
    
   
    
}
/* left image large*/
.imgL{
    width: 46%;
   
    
}
.imgL img{
    width: 100%;
    height: 100%;
    margin-left: 20px;

    /*   */
    
}
.formR{
    width: 42%;
    background-image: url("IMAGES/form_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    margin-left: 5px;
}



.imgL{
    width: 55%;
}


.formR{
    width: 40%;
}


/* form area*/
.formR h1{
    background-color: #8c191b;
    color: #fff;
    font-style: italic;
    width: 200px;
    padding: 5px;
}

.Qtop{
    display: flex;
    justify-content: space-between;
}

.number{
    font-weight: 700;
}

.qRight{
    padding: 20px;
    padding-right: 40px;
}
.colr{
    color: rgb(15, 53, 89);
}

/* input form*/

.inpuT{
    display: flex;
    margin-left: 20px;
    margin-top: 40px;
}

.input2{
    margin-left:  7px;
    margin-bottom: 10px;

}

.input1{
    margin-left:  5px;
    margin-bottom: 10px;
}




.confid{
   
    margin-left:35px ;
    transform: rotate(11deg);
}

.para{
    margin-left: 20px;
}

/* textarea*/

.textA {
    text-align: center;
    align-items: center;
}

.textA textarea{
    width: 410px;
    resize: none;
    padding-bottom: 25px;
    height: 65px;
    padding: 5px;
    margin-top: 15px;

}

.privacy{
    color: #808080;
}

.bullet{
    display: flex;
    padding: 10px;
    color: #fff;
    background-color: #8c191b;
    margin-left: 10px;
}
.ask{
    display: flex;
    margin-top: 15px;
    align-items: center;
   margin-left: 20px;
}
