/* second section*/


.secSECTION{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 80px;
    
   
    
}
/* left image large*/
.imgL{
    width: 100%;
   
    
}
.imgL img{
    width: 100%;
    height: 100%;
    margin-left: 20px;

   
    
}

 /*   */
.formR{
    
    background-image: url("IMAGES/form_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    margin-left: 5px;
}








/* form area*/
.formR h1{
    
}

.questionAS{
    
    background-color: #8c191b;
    color: #fff;
    font-style: italic;
    
    padding: 5px;
    width: 50%;
    height: 100%;
}

.Qtop{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.number{
    font-weight: 700;
}

.qRight{
    width: 55%;
    padding: 20px;
    padding-right: 40px;
}
.colr{
    color: rgb(15, 53, 89);
}

/* input form*/

.inpuT{
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-top: 40px;
}

.input2{
    margin-left:  7px;
    margin-bottom: 10px;

}

.input1{
    margin-left:  5px;
    margin-bottom: 10px;
}




.confid{
    width: 45%;
   display: flex;
    margin-left:35px ;
    transform: rotate(11deg);
     align-items: center;
}

.confid img{
    height: 80%;
}

.para{
    margin-left: 20px;
    width: 80vw;
}

/* textarea*/

.textA {
    text-align: center;
    align-items: center;
}

.textA textarea{
    width: 410px;
    resize: none;
    padding-bottom: 25px;
    height: 65px;
    padding: 5px;
    margin-top: 15px;

}


.privacy1{
    width: 40%;
}
.privacy{
    color: #808080;
}


.bullet{
    width: 58%;
    display: flex;
    padding: 10px;
    color: #fff;
    background-color: #8c191b;
    margin-left: 10px;
}
.ask{
    display: flex;
    margin-top: 15px;
    align-items: center;
   margin-left: 20px;
   width: 100%;
}
