/* last section*/

.lastMain{
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.lastLEFT{
    width: 25%;
    margin-left: 30px
}

.lastLEFT h2{
    margin-bottom: 15px
}

.lastLeftDivs{
    display: ;
    background-color: #808080;
    width: 280px;
    margin-bottom: 15px;
}


.bartext{
    display: flex;
}
.bartext img{
    height: 65px;
    width: 7px;
}


.learnIcon{
    display: flex;
    margin-top: -18px;
    justify-content: flex-end;
    align-items: center;
}
.learnIcon img{
    width: 16px;
    height: 12px;
}
.learnIcon h4{
    color:#fff;
}

.divTextH{
    padding-top: 10px;
    padding-left: 10px
}

.bullet-red{
    padding-left: 5px;
    padding-right: 5px;
}

.LmoreA{
    margin-top: 50px;
}

/* three option*/

.threeOption{
    text-align: center;
    margin-top: 55px;  
    
}



.threeOption h2{
    color: #808080;
    line-height: 35px;

}


