
/* navbar*/


li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(247, 249, 249);
}

.navbar {
    /* align-items: center; */
    float: right;
    width: 100%;
    display: flex;
    margin-left: auto;
    
}

.links ul {
    display: flex;
    gap: 25px;
    align-items: center;
    text-align: center;
   align-content: center;

}


.links {
    justify-content: end;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #8c191b;
    
  
}

.homeC{
    background-color: rgb(74, 74, 74); 
    padding: 15.5px;
}