/*===============*/






@media (max-width:1024px){

  
/* second form area*/

.imgL{
    width: 48%;
}


.formR{
    width: 50%;
   
   
    margin-left: 5px;
}

.questionAS{
    width: 48%;
    
    height: 100%;
}

.questionAS h1{
    font-size: 2rem

}
.qRight{
    width: 55%;
    
    
}

.Qtop{
    
    justify-content: flex-start;
}

.qRight{
    
    padding: 15px;
    padding-right: 0px;
}

.confid{
   width: 40%;
    margin-left:15px ;
    align-items: center;
   
}
.confid img{
    height: 50%;
}


.privacy1 p {
    font-size: 14px;
    

}

.bullet{
    width: 52%;
    align-items: center;
}
.bullet h3{
    font-size: 15px;
    padding-right: 6px;
}

.bullet img{
    width: 7px;
    height:9px ;
    
}

.para {
    width: 400px;
}



}
/*=== 992px=====*/

@media (max-width:992px){
  
    .imgL{
        width: 48%;
    }
    .imgL img{
        width: 100%;
    }

    .formR{
        width: 50%;
    }

    .para p{
      word-wrap: break-word;
      
    }

    .textA{
        width: 90%;
        margin: auto;
    }

}
/*------*/
@media (max-width:910px){
     .textA {
        
       margin-left: 0px;
    }

}

/*===============*/

@media (max-width:915px){

    .qRight h2{
      font-size: 2vw;
    }

    .confid{
        display: none;
    }

     .textA  textarea{
        
       margin-left: 0px;
       width: 40vw;
       
       height: 40px;
       

    }
    .textA {
        margin: auto;
    }
   



}

/*===============*/
@media (max-width:900px){

     .imgL{
        width: ;
    }
    .imgL img{
        width: 100%;
    }

    .formR{
        width: 48%;
    }

}

/*===============*/
@media (max-width:895px){
    .privacy1 p{
        font-size: 12px;

    }
    .bullet {
        width: ;
    }

    .bullet h3{
      font-size: 12px;
    }
  .questionAS h1{
    font-size: 24px;
  }
}


/*===============*/
@media (max-width:875px){
    .para p{
        font-size: 14px;
    }
     .para{
        width: 350px;
     }

}


/*===============*/
@media (max-width:768px){


   .secSECTION{
    flex-direction: column;
   }
   

    .imgL{
    width: 95%;
    margin: 0;
    padding: 0;
   
    
}

.imgL img{
    width: 100%;
   
    margin-left: 20px;

   
    
}


.formR{
    width: 95%;
}

.para{
    margin: auto;
    width: 50vw;
    
   
}

.qRight{
    margin-left: 50px;
}

.inpuT{
    justify-content: center;
}

.confid{
    margin-left: 40px;
}
.textA textarea{
    width: 75vw;
}

.privacy1{
    margin-left: 40px;
}
.bullet{
    width: 30vw;
    margin-left: 0px;
    margin-bottom: 20px;
}

}


/*===== 425px  =======*/

@media (max-width:426px){


    .imgL{
    width: 98vw;
   margin-left: -10px;
    padding: 0;
   
   
    
}

.imgL img{
    width: 85%;
   
    margin-left: 20px;

   
    
}


.formR{
    width: 83vw;
    margin-left: 10px;
    
    

    
}

.questionAS h1{
    font-size: 20px;

}
.qRight{
    width: 90vw;
}
.qRight h2{
    font-size: 17px;
}

.para{
    
    width: 85vw;
    margin: 2px;  
   
}
.para p{
    font-size: 14px;
    padding-left: 3px;
} 


.inpuT{
    width: 100%;
}

.inpuT form{
    width: 80%;
}

.confid{

display: none;
}

.ask{
    width: 80vw;
}

.privacy1{
    width: 40vw;
    margin-left: 0px;
    margin-top: -17px;
}
.privacy{
    font-size: 8px;
}

.bullet{
    width: 35vw;
}

.bullet h3{
    font-size: 9px;

}


}




/*===== 320px =====*/


@media (max-width:320px) {

    .imgL{
    width: 90vw;
   margin-left: -10px;
    padding: 0;
   
   
    
}

.imgL img{
    width: 85%;
   
    margin-left: 20px;
}

.formR{
    width: 76vw;
    margin-left: 10px;
}

.questionAS h1{
    font-size: 14px;

}

.qRight{
    width: 80vw;
    margin: 0px;
}
.qRight h2{
    font-size: 12px;
}

.para{
    
    width: 70vw;
    margin: 2px;  
   
}
.para p{
    font-size: 14px;
    padding-left: 9px;
} 

.inpuT{
    width: 100%;
}

.inpuT form{
    width: 100%;
}
.a{
    width:60%;
}


.textA {
    
    width: 65vw;
    margin-left: 15px;
    
    
}

 .textA textarea{
    width: 100%;
    height: 50px;
    

}

.privacy1{
    width: 40vw;
    margin-left: 0;
   
}
.privacy1 p{
font-size: 9px;
}

.bullet{
    width: 30vw;
    margin-left:-10px;
}

.bullet h3{
    font-size: 5px;

}
.bullet img {
    width: 5px;
    height: 5px;

}

    
}