* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    border-left: 25px solid #828282;
    border-right: 25px solid #828282;
  
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.logo {
    width: 60%;

}

.logo img {
    height: 150px;
}

.topLeft {
    width: 30%;
    margin-top: 15px;


}

.topLeft h2 {
    word-spacing: 8px;
    color: #8c191b;
}

.topLeft h1 {
    font-weight: 1000;
    font-size: 45px;
}

.topLeft h4 {
    word-spacing: 5px;
    font-size: 19px;
    color: rgb(74, 74, 74);
}

hr {
    height: 4px;
    background-color: black;
    width: 93%;
}


/* navbar*/


li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(247, 249, 249);
}

.navbar {
    /* align-items: center; */
    float: right;
    width: 100%;
    display: flex;
    margin-left: auto;
}

.links ul {
    display: flex;
    gap: 25px;

}


.links {
    justify-content: end;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #8c191b;
    align-items: center;
    text-align: center;
   align-content: center;
   border: 2px solid blue;
   padding-top: 40px;
}

.homeC{
    background-color: rgb(74, 74, 74); 
    padding: 15.5px;
}



.secSECTION{
    width: 100%;
}

.imgL{
    width: 46%;
    border: 2px solid red;
    
}
.imgL img{
    width: 100%;
    height: 350px;
}
.formR{
    width: 42%;
    background-image: url("IMAGES/form_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(55, 19, 138);
    margin-left: 5px;
}
.confid{
    margin-left:15px ;
    transform: rotate(15deg);
}

.secSECTION{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    margin-left: 40px;
   
    
    

}


/* form area*/
.formR h1{
    background-color: #8c191b;
    color: #fff;
    font-style: italic;
    width: 200px;
    padding: 5px;
}

.Qtop{
    display: flex;
    justify-content: space-between;
}

.qRight{
    padding: 20px;
    padding-right: 40px;
}
.colr{
    color: rgb(15, 53, 89);
}

.inpuT{
    display: flex;
    margin-left: 20px;
    margin-top: 100px;
}

.para{
    margin-left: 20px;
}

/* textarea*/

.textA {
    text-align: center;
    align-items: center;
}

.textA textarea{
    width: 410px;
    resize: none;
    padding-bottom: 25px;
    height: 65px;
    padding: 5px;
    margin-top: 15px;

}
.bullet{
    display: flex;
    padding: 10px;
    color: #fff;
    background-color: #8c191b;
    margin-left: 10px;
}
.ask{
    display: flex;
    margin-top: 15px;
    align-items: center;
   margin-left: 20px;
}


/* three div 1*/

.threeDIV{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.divF{
    width: 32%;
    
}

.dui{
    color:#8c191b ;
}
.free{
    color: rgb(177, 44, 53);
}
.paraPastBorad{
    margin-top: 8px;

}

.paraPastBorad{
    display: flex;
}

.click{
    display: flex;
    width: 140px;
    background-color:#b30407;
    float: right;
    color: white;
    height: 27px;
    text-align: center;
    align-items: center;
    margin-right:40px;
}
 
.click h3{
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    
}
    .hrr{
        width: 250px;
        float: right;
        margin-top: 20px;
    }



.twoPara{
    width: 55%;
}
.twoPara h4{
    color: #808080;
}
.h42{
    padding-top: 20px;
}

/* three div 2*/

.divS{
    width: 35%;
    border-left: 1.5px solid  rgb(212, 210, 210); 
    border-right: 1.5px solid  rgb(212, 210, 210); 
}


.keferScreen{
    display: flex;
    margin-left: 15px;
}

.lawB{
    color:#8c191b ;
}
.sec22{
    display: flex;
   
    margin-top: 40px;
    border-top: 1.5px solid rgb(196, 191, 191);
}

.caseResult{
    margin:15px ;
}
.caseResult h4{
    font-size: 15px;
}

.twoIcon{
    display: flex;
}

.order_iconn{
    align-items: center;
    align-content: center;

}

/* three div 3*/

.divTH{
    width: 32%;
}

.twoIcon{

    align-items: center;
    justify-content: center;
    gap: 30px;
  
}

.CERTIFICATE{
    margin-left: 20px;
}

.CERTIFICATE h4{
    color: #828282;
    
}
.KEFERh4{
    padding-top: 10px;

}

/* long hr*/
.longHR{
    width: 100%;
}