* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

.main {
    border-left: 25px solid #828282;
    border-right: 25px solid #828282;
    overflow:hidden;
  
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.logo {
    width: 60%;

}

.logo img {
    height: 150px;
    width: 100%;
}

.topLeft {
    width: 30%;
    margin-top: 15px;


}

.topLeft h2 {
    word-spacing: 8px;
    color: #8c191b;
}

.topLeft h1 {
    font-weight: 1000;
    font-size: 45px;
}

.topLeft h4 {
    word-spacing: 5px;
    font-size: 19px;
    color: rgb(74, 74, 74);
}

hr {
    height: 4px;
    background-color: black;
    width: 93%;
}








/* three div 1*/

.threeDIV{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.divF{
    width: 32%;
    
}

.dui{
    color:#8c191b ;
}
.free{
    color: rgb(177, 44, 53);
}
.paraPastBorad{
    margin-top: 8px;

}

.paraPastBorad{
    display: flex;
}

.click{
    display: flex;
    width: 140px;
    background-color:#b30407;
    float: right;
    color: white;
    height: 27px;
    text-align: center;
    align-items: center;
    margin-right:40px;
}
 
.click h3{
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    
}
    .hrr{
        width: 250px;
        float: right;
        margin-top: 20px;
    }



.twoPara{
    width: 55%;
    margin-right: 20px;


}
.twoPara h4{
    color: #808080;
    
}
.h42{
    padding-top: 20px;
}

/* three div 2*/

.divS{
    width: 35%;
    border-left: 1.5px solid  rgb(212, 210, 210); 
    border-right: 1.5px solid  rgb(212, 210, 210); 
}


.keferScreen{
    display: flex;
    margin-left: 15px;
}

.lawB{
    color:#8c191b ;
}
.sec22{
    display: flex;
   
    margin-top: 40px;
    border-top: 1.5px solid rgb(196, 191, 191);
}

.caseResult{
    margin:15px ;
    width: 100%;
}



.caseResult h4{
    font-size: 15px;
}



.twoIcon{
    display: flex;
}

.order_iconn{
    align-items: center;
    align-content: center;

}

/* three div 3*/

.divTH{
    width: 32%;
}

.twoIcon{

    align-items: center;
    justify-content: center;
    gap: 30px;
  
}

.CERTIFICATE{
    margin-left: 20px;
}

.CERTIFICATE h4{
    color: #828282;
    
}
.KEFERh4{
    padding-top: 10px;

}

/* long hr*/
.longHR{
    width: 100%;
}





/* LAST MEDAL*/

.lastMedal{
    width: 48%;
    margin-left: 15px;

}

.lastPara{
    padding-top: 10px;
    color: #808080;
}




/* footer*/
.footerr{
    width: 100%;
    height: 18px;
    background-color: #8c191b;
    border-bottom: 10px solid #6e6b6b ;
    box-sizing: border-box;
    margin-top: 100px;
}

